# SPDX-FileCopyrightText: 2024-2025 tdsharp contributors <https://github.com/egramtel/tdsharp>
#
# SPDX-License-Identifier: MIT

# macOS:
.DS_Store

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Visual Studio Code
.vscode

# Intellij Idea
.idea/

# Native Libraries
*.dll
*.dylib
*.so

# NuGet package cache, used by GitHub Actions:
/.github/nuget-packages/
